@model Assessment.Web.Models.CalculatedTaxViewModel

@{
    ViewData["Title"] = "ViewCalculatedTax";
}

<h1>ViewCalculatedTax</h1>

<div>
    <h4>CalculatedTaxViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
